<mat-card class="example-card">
    <div class="form" >
        <mat-card-header>
            <mat-card-title>Payment</mat-card-title>
          </mat-card-header>
          <mat-card-content>
        <form class="example-form" >
          <mat-form-field appearance="fill">
            <mat-label>Product Id</mat-label>
            <input matInput placeholder="enter the product Id" readonly>
           
            </mat-form-field>  &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="enter the name of Product" readonly>
                <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                  <br>
        <mat-form-field  appearance="fill">
        <mat-label>Product Price</mat-label>
        <input matInput placeholder="enter the price of product" >
        
        </mat-form-field>&nbsp;
        
                <br>
            
          <div mat-dialog-action [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
            <button  style="margin-left: 8px;" mat-raised-button color="accent">Make Payment</button>
          
          </div>
        </form>
        </mat-card-content>
        </div>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
    </mat-card>
