<mat-card class="example-card">
  <div class="form">
      <mat-card-header>
          <mat-card-title class="pay">Payment</mat-card-title>
        </mat-card-header>
        <mat-card-content>
      <form class="example-form" [formGroup]="orderDetailsform">
        <mat-form-field appearance="fill">
          <mat-label>Order Id</mat-label>
          <input matInput placeholder="Order Id" formControlName="id" readonly>
         
          </mat-form-field>  &nbsp;
            <mat-form-field appearance="fill">
              <mat-label>Product Name</mat-label>
              <input matInput placeholder="Name of Product" formControlName="productName" readonly>
              
              </mat-form-field>
                <br>
      <mat-form-field  appearance="fill">
      <mat-label>Product Price</mat-label>
      <input matInput placeholder="Price of product" formControlName="oAmount" readonly>
      
      </mat-form-field>&nbsp;
      
              <br>
          
        <div mat-dialog-action [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Close</button>
          <button  style="margin-left: 8px; background-color: rgb(20, 20, 81); color: aliceblue;" mat-raised-button (click)="makePayment()">Make Payment</button>
        
        </div>
      </form>
      </mat-card-content>
      </div>
      
  </mat-card>