<div class="container">
 
  <div matRipple>
    <ng-content></ng-content>
    <h1 style="text-align: center;height: 60px;  color: rgb(60, 28, 102); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: xx-large;">
      <b>Suppliers List</b>
    </h1>
    <div>
      <button style="margin-top: -20px; margin-left: 1050px; width: 130px;" mat-raised-button color="primary" (click)="openDialog()">Add Supplier</button>
    </div>
  </div>

  <br>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="Supplier_LIST" >

      <!-- Id Column -->
      <ng-container matColumnDef="sId">
        <th mat-header-cell *matHeaderCellDef class="header"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.sId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sName">
        <th mat-header-cell *matHeaderCellDef class="header"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.sName}} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="sPhoneNumber">
        <th mat-header-cell *matHeaderCellDef class="header"> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.sPhoneNumber}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="sAddress">
        <th mat-header-cell *matHeaderCellDef class="header"> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.sAddress}} </td>
      </ng-container>

      <!--Edit/Delete-->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef class="header"> Edit Details </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="EditSupplier(element)">
            &nbsp;&nbsp;<mat-icon>edit</mat-icon> Edit
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef class="header"> Delete Supplier </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="DeleteSupplier(element.id)">
            &nbsp;&nbsp;<mat-icon>delete</mat-icon>Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>

  <router-outlet></router-outlet>
</div>

