.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 20px;
    margin-top: 70px;
    padding: 20px;
    text-align: center;
}

.form{
   /* background-image: url("https://as2.ftcdn.net/v2/jpg/00/95/56/99/1000_F_95569904_pdEiF7YOpLBdStA0xcnVbmVR4S84ZF6F.jpg"); */
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsWSgHyqCGB6Ft8b37R1dx_UQZQXD5OuI51A&usqp=CAU");
}

