<form class="example-form" [formGroup]="orderForm" (ngSubmit)="SaveOrder()">
    <mat-form-field class="example-full-width">
      <mat-label>Order ID</mat-label>
      <input matInput placeholder="Order Id" formControlName="id">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Order ID</mat-label>
        <input matInput placeholder="Order Id" formControlName="id">
      </mat-form-field>


      <mat-form-field appearance="fill"class="example-full-width" >
        <mat-label>Supplier Name</mat-label>
        <mat-select>
          <mat-option *ngFor="let supplier of suppliers" [value]="supplier.sName">
            {{supplier.sName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
            <mat-label>Payment Type</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="UPI">UPI</mat-option>
              <mat-option value="Cash On Delivery">Cash On Delivery</mat-option>
              <mat-option value="Net-Banking">Net-Banking</mat-option>
            </mat-select>
          </mat-form-field>
    

      <mat-form-field class="example-full-width">
        <mat-label>Total Amount</mat-label>
        <input matInput placeholder="Order Id" formControlName="oAmount">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Order ID</mat-label>
        <input matInput placeholder="Order Id" formControlName="id">
      </mat-form-field>

      <div>
        <h3>Products</h3>
        <table formArrayName="products" style="margin: 2%;width: 96%" class="mat-table cdk-table mat-elevation-z8 table-bordered">
        <thead>
          <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
              <td>Amount</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products.controls; let i=index" [formGroupName]="i">
            <td>
              <input class="form-control" formControlName="pId">
            </td>
            <td>
              <select class="form-control" formControlName="productName">
                <!-- <option *ngfor="let item of ProductData">{{item.pName}}</option> -->
                <option *ngFor="let item of productData" [value]="item.id" >{{item.pName}}</option>
                </select>
            </td>
            <td>
              <input class="form-control" formControlName="productPrice">
            </td>
            <td>
              <input class="form-control" formControlName="quantity">
            </td>
            <td>
              <input class="form-control" formControlName="amount">
            </td>
            <td>
              <button mat-raised-button color="primary" (click)="RemoveProduct(i)">Remove</button>
            </td>
          </tr>
        </tbody>
       <tfoot>
        <tr>
          <td colspan="7">
            <a mat-raised-button color="primary" (click)="AddProducts()">Add New (+)</a>
          </td>
        </tr>
       </tfoot>
        </table>
      </div>

      <button mat-button color="primary">Save</button>
      <button mat-button color="accent" (click)="redirectList()">Cancel</button>
 
  </form>
  