
<h1 style="font-weight: bold; color:indigo;margin-top:10px ; text-align:center" >SIGN IN</h1>
<div class="container">
  <div class="head"><h4  >Please Enter Your Details</h4></div>
  
  <form [formGroup]="loginform" (ngSubmit)="loginFunc()" novalidate>
   

  <div class="card">
    <mat-form-field   appearance="outline" class="custom-form-field">
        <mat-label>Email:</mat-label>
            <mat-icon class="material-icons" color="accent" matSuffix>email</mat-icon>
            <input matInput="" placeholder="enter email" formControlName="email" class="form-input-field" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <mat-error *ngIf="errorFunc('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="errorFunc('email', 'pattern')">Please enter vaild EmailAddress</mat-error>  
    </mat-form-field>
  </div>

  <br>
  <div class="card">
    <mat-form-field  appearance="outline"  class="custom-form-field">
        <mat-label>Password:</mat-label>
        <mat-icon class="material-icons"color="accent" matSuffix>password</mat-icon>
        <input matInput="" placeholder="enter Password" type="password" formControlName="password" class="form-input-field" id="password" pattern="^[a-zA-Z0-9]{6,12}$" minlength="6" maxlength="12"> 
        <mat-error *ngIf="errorFunc('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="errorFunc('password', 'pattern')">
            Only alphabetes and numbers are allowed
            </mat-error>      
    </mat-form-field>
  </div>
  
 
    <br>

      <div class="Mybutton">
        <mat-card-content class="custom-form-field">
            <button mat-raised-button color="primary" type="submit" value="submit" center>Login</button>
        </mat-card-content>
      </div>
  </form>
</div>