.form-container
{
  display: block;
  max-width: 300px;
  margin: auto;


  background: rgb(230, 239, 237);
  padding: 48px;
  border-radius: 16px;

  /* @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
  
}

.form-container mat-form-field
{
  width: 100%;

}

.center
{
  display:flex;
  justify-content: center;
}

.margin-top
{
  margin-top: 16px;
}

.text-center
{
  text-align:center;
}

.button{
  color: #ffff;
  background-color: #017E84;
}