
<div class="example-container"
    [class.mat-elevation-z2]="false"
    [class.mat-elevation-z8]="true">
  &nbsp;
<mat-form-field class="formfield" appearance="outline">
  <mat-label>Order Status</mat-label>
  <mat-select>
      <mat-option *ngFor="let skill of orderStatus" [value]="skill.value">
        {{skill.viewValue}}
      </mat-option>
    </mat-select>
 
</mat-form-field>

</div>


 
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let element"> 
            <button mat-button matTooltip="Make Payment" (click)="makePaymentDialog(element)" class="iconbutton" color="primary">
               Make Payment
              </button>
            <button mat-button matTooltip="Click to return stock" class="iconbutton" color="warn">
               Return Stock
              </button>
              <button mat-button matTooltip="Click to report issue" (click)="reportQualityIssue(element)" class="iconbutton" color="accent">
                Report Quality Issue
               </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

