

<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Inventory Management System</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<app-orderlist></app-orderlist>
<app-order-details></app-order-details>
<!-- <app-supplier></app-supplier> -->
<!-- <app-product></app-product> -->
<!-- <router-outlet></router-outlet>
  <app-admin-dashboard></app-admin-dashboard>
  <app-admin></app-admin>
   
   <app-orderlist></app-orderlist> -->

   <!-- <app-add-product></app-add-product> -->
