.side-nav{

    background-color: #017E84;

    width: 190px;

    margin-left: 10px;

    border-radius: 30px;

}



.menu{

    margin-left: 35px;

    background-color: rgb(138, 181, 181);

    border-radius: 30px;

}



.toolbar{

    background-color: #017E84;

    height: 70px;

}



.content

{

    padding:32px;

}