<mat-card class="example-card">
  <div class="form" >
      <mat-card-header>
          <mat-card-title class="report">Report quality issue</mat-card-title>
        </mat-card-header>
        <mat-card-content>
      <form class="example-form" [formGroup]="orderDetailsform">
        <mat-form-field appearance="fill">
          <mat-label>Order Id</mat-label>
          <input matInput placeholder="enter the order Id" formControlName="id" readonly >
         
          </mat-form-field>  &nbsp;
            <mat-form-field appearance="fill">
              <mat-label>Product Name</mat-label>
              <input matInput placeholder="enter the name of Product" formControlName="productName" readonly>
              
              </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Enter Issue" formControlName="reportIssue"></textarea>
                </mat-form-field>&nbsp;
      
              <br>
          
        <div mat-dialog-action [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Close</button>
          <button  style="margin-left: 8px;background-color: orange;" mat-raised-button (click)="raiseIssueReport()">Report</button>
        
        </div>
      </form>
      </mat-card-content>
      </div>
  </mat-card>