.form-container
{
  display: block;
  max-width: 300px;
  margin: auto;
 
  background: rgb(233, 239, 239);
  padding: 48px;
  border-radius: 16px;
  margin-left: 850px;
  margin-top: 10px;
}

.form-container mat-form-field
{
  background-color: #eceff1;
  width: 100%;
}

.toolbar {
  position: fixed;
  height: 80px;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.logo{
  border-radius: 50px;
}
.center
{
  display:flex;
  justify-content: center;
}

.margin-top
{
  margin-top: 16px;
}

.text-center
{
  text-align:center;
}

._submit{
  background-color: #008187;
  color: azure;

}

.bg-img{
  margin-top: -695px;
  margin-left: 5px;
  width: 800px; 
  height: 670px;
  border-radius: 30px;
}