<br><br><br><br><br>


<div >
   
    <br>
    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="Order_LIST" >
            
          <!-- Id Column -->
          <ng-container matColumnDef="oId">
            <th mat-header-cell *matHeaderCellDef> Order Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="oNoProduct">
            <th mat-header-cell *matHeaderCellDef> Order Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.oNoOfProducts}} </td>
          </ng-container>
      
          <!-- Price Column -->
          <ng-container matColumnDef="oAmount">
            <th mat-header-cell *matHeaderCellDef> Order Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.oAmount | currency: 'INR'}} </td>
          </ng-container>
      
          <!-- Mfg Column -->
          <ng-container matColumnDef="oDate">
            <th mat-header-cell *matHeaderCellDef>Order Date  </th>
            <td mat-cell *matCellDef="let element"> {{element.oDate | date}} </td>
          </ng-container>

          <!-- Expiry Date Column -->
          <ng-container matColumnDef="oPayment">
            <th mat-header-cell *matHeaderCellDef> Order Payment Status </th>
            <td mat-cell *matCellDef="let element"> {{element.oPayment}} </td>
          </ng-container>

          <!-- Availability Column -->
          <ng-container matColumnDef="oPaymentType">
            <th mat-header-cell *matHeaderCellDef> Payment Type </th>
            <td mat-cell *matCellDef="let element"> {{element.oPaymentType}} </td>
          </ng-container>

          <ng-container matColumnDef="oStatus">
            <th mat-header-cell *matHeaderCellDef> Order Status </th>
            <td mat-cell *matCellDef="let element"> {{element.oStatus}} </td>
          </ng-container>

         
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> <button mat-icon-button  color="basic">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button  color="warn" >
              <mat-icon>delete</mat-icon>
            </button>
            </td>
          </ng-container>
         
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
      </section>
      
</div>
