.example-ripple-container {
    
   
  
    width: 200px;
    height: 200px;
    
  
    
  }
  .example-container {
    padding: 1px;
    margin-top: 8px;
    text-align: center;
    height: auto;
    display: flex;
  }