<!----------------------------------------------------------------------------------------------------------------------------------------->
<br><br><br>
<mat-card class="totalProducts">
  <mat-card-header>
    <div mat-card-avatar class="totalProducts-header"></div>
  </mat-card-header>

  <img mat-card-image width="400px" height="310px"
    src="https://cdn.create.vista.com/api/media/small/426379948/stock-photo-cardboard-boxes-pallet-delivery-transportation">
</mat-card>

<div>
  <button mat-raised-button class="totalProducts-Btn">
    <b>Total Products: {{productCount}}</b>
  </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->
<mat-card class="OrderUpdates">
  <mat-card-header>
    <div mat-card-avatar class=".OrderUpdates-header"></div>
  </mat-card-header>

  <img mat-card-image width="400px" height="310px"
    src="https://cdn.create.vista.com/api/media/medium/414478956/stock-photo-top-view-credit-card-toy?token=">
</mat-card>

<div>
  <button mat-raised-button class="OrderUpdates-Btn">
    <b>Order Updates: {{totalOrderCount}}</b>
  </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->
<mat-card class="supplierCount">
  <mat-card-header>
    <div mat-card-avatar class="supplierCount-header"></div>
  </mat-card-header>

  <img mat-card-image width="400px" height="300px"
    src="https://cdn.create.vista.com/api/media/small/432754250/stock-photo-african-american-warehouse-worker-use">
</mat-card>

<div>
  <button mat-raised-button class="supplierCount-Btn">
    <b> Supplier Count: {{supplierCount}} </b>
  </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->

<mat-card class="totalDelivered">
  <mat-card-header>
    <div mat-card-avatar class="totalDelivered-header"></div>
  </mat-card-header>

  <img mat-card-image width="400px" height="300px"
    src="https://cdn.create.vista.com/api/media/small/502090610/stock-photo-unrecognizable-african-delivery-man-giving">
</mat-card>

<div>
  <button mat-raised-button class="totalDelivered-Btn">
    <b>Total Delivered: {{deliveredOrderCount}}</b>
  </button>
</div>
<!----------------------------------------------------------------------------------------------------------------------------------------->