<mat-card class="DeliveredCard" routerLink="/deliveredOrder">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image-1"></div>
    </mat-card-header>

    <img mat-card-image height="310px" src="https://cdn.create.vista.com/api/media/small/164830514/stock-photo-delivery">
    <mat-card-content>

    </mat-card-content>

</mat-card>

<div>
    <button mat-raised-button color="primary" routerLink="/deliveredOrder" class="DeliveredButton">
        <b>Delivered</b>
    </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->
<mat-card class="PendingCard" routerLink="/pendingOrder">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image-2"></div>
    </mat-card-header>

    <img mat-card-image height="310px" src="https://cdn.create.vista.com/api/media/small/342526798/stock-photo-cards-barcodes-stacked-cardboard-boxes">
    <mat-card-content>

    </mat-card-content>

</mat-card>


<div>
    <button mat-raised-button color="primary" routerLink="/pendingOrder" class="PendingButton">
        <b>Pending</b>
    </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->
<mat-card class="CancelledCard" routerLink="/cancelledOrder">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image-3"></div>
    </mat-card-header>

    <img mat-card-image height="310px" src="https://cdn.create.vista.com/api/media/medium/372286602/stock-photo-white-cubes-word-cancelled-white?token=">
    <mat-card-content>

    </mat-card-content>

</mat-card>



<div>
    <button mat-raised-button color="primary" routerLink="/cancelledOrder" class="CancelledButton">
        <b> Cancelled    </b>
    </button>
</div>

<!----------------------------------------------------------------------------------------------------------------------------------------->

<mat-card class="ReturnedCard" routerLink="/returnedOrder">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image-4"></div>
    </mat-card-header>

    <img mat-card-image height="310px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuc5acZjR56XZY_7bgVRzLaw4LKlgyhRfbNg&usqp=CAU">
    <mat-card-content>

    </mat-card-content>

</mat-card>

<div>
    <button mat-raised-button color="primary" routerLink="/returnedOrder" class="ReturnedButton">
        <b>Returned</b>
    </button>
</div>
<!----------------------------------------------------------------------------------------------------------------------------------------->